<app-header></app-header>

<div class="form_container">
    <h3>Chat</h3>
  <div class="chat_frame" #chatFrame>
    <div *ngIf="questions && questions.length > 0">
      <div *ngFor="let question of questions">
        <div
          [ngClass]="{
            'bubble-blue': question.utilisateurEmail === user1Email,
            'bubble-grey':
              question.utilisateurEmail === user2Email 
          }"
          class="bubble"
        >
          <div class="email_container">
            <div class="email_title">
              {{ question.utilisateurEmail }}
            </div>

            <p [innerHTML]="question.questionTexte | imageLink"></p>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="!questions || questions.length === 0">
      <p>Aucune question à afficher</p>
    </div>
    
  </div>


  

<div class="form_container3">
    <form [formGroup]="chatForm">
    
  
      <div class="form-group">
        <label for="questionTexte">Message</label>
        <input formControlName="questionTexte" type="text" id="questionTexte" />
        <div
          *ngIf="
            chatForm.get('questionTexte')?.errors &&
            chatForm.get('questionTexte')?.touched
          "
        >
          <small
            class="text-danger"
            *ngIf="chatForm.get('questionTexte')?.errors?.['required']"
            >Le message est requis</small
          >
          <small
            class="text-danger"
            *ngIf="chatForm.get('questionTexte')?.errors?.['questionTexte']"
            >Le message n'est pas valide</small
          >
        </div>
        <small [ngClass]="{'text-danger': currentLength > maxLength}">{{currentLength}}/{{maxLength}}</small>
      </div>
  
      <button class="purple_btn" type="submit" (click)="onSubmitForm()">
        Envoyer
      </button>
    </form>
    <audio #notificationAudio src="../../../../assets/audios/notif.mp3"></audio>
  </div>

</div>

